<div class="row">
    <div class="return">
        <a href="./chats.hbs">
            <img class="return-img" src="../img/back.jpg" alt="Вернуться к чатам"/>
        </a>
    </div>
    <div class="profile">
        <div class="profile-avatar"></div>
        <div class="profile-name">{{user.name}}</div>
        <div class="profile-info">
            <div class="profile-info-data">
                {{{userEmail}}}
                {{{userLogin}}}
                {{{userName}}}
                {{{userSecondName}}}
                {{{userDisplayName}}}
                {{{userPhone}}}
            </div>
            <div class="profile-info-links">
                {{{linkEditData}}}
                {{{linkEditPass}}}
                {{{linkExit}}}
            </div>
        </div>
    </div>
</div>
