<div class='row'>
  <div class='return'>
    <div class='return-img'>
      {{{linkBack}}}
    </div>
  </div>
  <div class='profile'>
    {{{avatar}}}
    <div class='profile-name'>{{first_name}} {{second_name}}</div>
    <div class='profile-info'>
      <div class='profile-info-data'>
        {{{userEmail}}}
        {{{userLogin}}}
        {{{userName}}}
        {{{userSecondName}}}
        {{{userDisplayName}}}
        {{{userPhone}}}
      </div>
      <div class='profile-info-links'>
        {{{linkEditData}}}
        {{{linkEditPass}}}
        {{{linkExit}}}
      </div>
    </div>
  </div>
</div>