<div class='container'>
  <div class='form-registr'>
    <div class='form-header'>
      <h1 class='form-h1'>Регистрация</h1>
    </div>
    {{{inputEmail}}}
    {{{inputLogin}}}
    {{{inputFirstName}}}
    {{{inputSecondName}}}
    {{{inputPhone}}}
    {{{inputPass}}}
    {{{inputPass2}}}
    <div class='form-button'>
      <p class='mr ml' id='error_form-registr'></p>
      {{{linkSing}}}
      {{{linkComeIn}}}
    </div>
  </div>
</div>