<div class="container">
    <div class="form-edit-user">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirstName}}}
        {{{inputSecondName}}}
        {{{inputDisplayName}}}
        {{{inputPhone}}}
        <div class="form-button">
            <p class="mr ml" id="error_form-edit-user"></p>
            {{{linkSing}}}
            {{{linkBack}}}
        </div>
    </div>
</div>
