<div class="chat-menu-user">
    <div class="chat-user-avatar"></div>
    <div class="chat-user-block">
        <div class="chat-user-name">{{name}}</div>
        <div class="chat-user-text">{{text}}</div>
    </div>
    <div class="chat-user-info">
        <time class="chat-time">{{time}}</time>
        <div class="chat-count" style="display: {{style}}">
            <span class="chat-count_mess">
                {{count_mess}}
            </span>
        </div>
    </div>
</div>