<div class="main-container">
    <div class="chat-list">
        <div class="profile_div">
            <a class="profile_link" href="./userSettings.hbs">Профиль ></a>
        </div>
        <div class="chat-search">
            {{{inputChat}}}
        </div>
        <div class="chats">
            {{{ChatUser}}}
            {{{ChatUser2}}}
        </div>
    </div>
    <div class="chat-choice">
        <div class="window-messages"></div>
        <form class="form-messages">
            <p class="mr ml" id="error_form-auth"></p>
            <div class="chat-messages">
                {{{inputMess}}}
            </div>
            {{{button}}}
        </form>  
    </div>
</div>